#pond {
    display: flex;
    justify-content: flex-start;
}


.csstest {
    border-radius: 5px;
    padding: 10px;
    background-color: #c92727;
}

.my-custom-style {
    color: #3498db;
    font-size: 16px;
    font-weight: bold;
}